<%- include('../partials/header', { user }) %>

<h3>Hey, <%= user.email %> thanks for logging in to the app!</h3>
<form method="POST" action="/users/<%=user.id%>/?_method=PUT">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required />

    <label for="password">Password:</label>
    <input type="password" class="form control bg-transparent" name="password" id="password" required/>

    <button style="color: lime" class="bg-transparent" type="submit">Update Password</button>
</form>

<%- include('../partials/footer') %>